li {
  padding: 5px;
  margin: 5px;
  background: lightpink;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

h1, div, body, h2, img{
  text-align: center;
}

